.Preloader {
  position: absolute;
  top: 45%;
  left: 45%;
  align-self: center;
  border: 10px solid #dbdbdb;
  border-radius: 50%;
  border-top: 10px solid gray;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}